<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Regular.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>BricolageGrotesque-Regular.ttf</string>
		<string>BricolageGrotesque-SemiBold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
